:root{
    --c1: #282a36;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Consolas', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: var(--c1);
    padding: 10px;
    width: 1000px;
    margin: auto;
    max-width: 100%;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

p{
    color: white;
}

section{
    margin-bottom: 50px;
    /* background-color: #00000055; */
    /* box-shadow: inset 0px 0px 50px 50px black; */
    padding: 10px;
    border-radius: 10px;
    /* background-color: black; */
}

.image_example{
    text-align: center;
    margin: 5px;
    width: 100%;
    overflow-x: auto;
}

.image_example img{max-width: 100%;}
.image_example-full img{max-width: initial;}



.t-center{text-align: center;}

.code{
    color: white;
    padding: 10px;
    background-color: black;
    /* margin: 5px; */
    border-radius: 5px;
}

.t-orange{color: #ffb86c;}
.t-blue{color: #2E95D3;}
.t-pink{color: #DF3079;}
.t-green{color: #00A67D;}
.t-red{color: #F22C3D;}
.t-yellow{color: #E9950C;}
.t-white{color: #f8f8f2;}

