<base href="..">

<link rel="stylesheet" href="./style/style.css">

<script defer src="./script/render.js"></script>
<script defer src="./script/select.js"></script>

<style></style>

<main class="page">
    <section>
        <p class="page_title">Whats ffmpeg</p>
        <div class="example">
            <section>

                <p class="page_title2">website oficial</p>
                <p class="example" style="border: solid 1px gray">With FFmpeg, you can have precise and flexible control over video manipulation through command-line execution. This powerful tool allows you to perform a wide range of tasks, such as format conversion, editing, processing, and much more.</p>

                <p class="page_title2">website oficial</p>
                <p class="comment2"><a target="_blank" href="https://ffmpeg.org/download.html#build-windows">ffmpeg</a></p>
                
                
                <p class="page_title2">command line to download</p>
                <p class="comment2">winget install ffmpeg</p>
                <p class="comment2">choco install ffmpeg</p>
            </section>
        </div>
    </section>
</main>
